<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.falconnect.dealermanagementsystem">

    <uses-permission android:name="com.falconnect.dealermanagementsystem.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
        
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens android:requiresSmallestWidthDp="600" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDr8TlW6qpxYoDTO4sTDFMAspOlMv3Re6A" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.falconnect.dealermanagementsystem.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hotline_file_provider_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--Splash activity-->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SearchResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search_result"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ChangePassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SavedCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_saved_car"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".CityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_city"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".CityResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_city"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MyQueriesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_queries"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".BidsPostedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bids_posted"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FundingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_funding"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ApplyFundingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_apply_funding"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".BidsPostingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bids_posting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FundingViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_funding_view"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SitesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Sites Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SellDashBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sell_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".LoanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loan"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".QueriesRecievedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_queries_recieved"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoanViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loan_view"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AuctionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_auction"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MyPostingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_posting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ManageDashBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_manage_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MyUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_user"
            android:screenOrientation="portrait"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".AddUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_user"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AlertActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_user"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MyBranchesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_branches"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".EditBranchesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_branches"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AddBranchesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_branches"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SubscriptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_subscription"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".AddContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_contact"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FundingSelectCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_funding_select_car"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MyPostingDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_posting_details"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".BussinessProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bussiness_profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainDashBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_user"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".EditContact"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_contact"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".EditBussinessProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_bussiness_profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MyEmployeeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_employee"
            android:screenOrientation="portrait"
            android:theme="@style/tabTheme" />
        <activity
            android:name=".AddEmployeeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_employee"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".EditEmployeeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_employee"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LocationSelection"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_bussiness_profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LocationSelectionAddress"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_bussiness_profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".EditContactLocationSelectionAddress"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_bussiness_profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SellWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_bussiness_profile"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAU0HNBd42B29Kw6SvVfHR8EzylI7B2IS4" />

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".EMICalculatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emi_calculator"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SelectContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_emi_calculator"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ConfirmationFundingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_confirmation_funding"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FilterScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FilterScreenDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ReportSalesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_report_sales"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Report_Inventory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_report__inventory"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Staticts_Report"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_staticts__report"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".BuyPlanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_buy_plan"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".NetworksWebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_networks_webview"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DealerSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dealer_search"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".DealerBussinessProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dealer_bussiness_profile"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".TranscationWebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dealer_bussiness_profile"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AddContactLeadsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_contact"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Contact_Document"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_contact"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".FilePicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_contact"
            android:theme="@style/FullscreenTheme"/>

    </application>

</manifest>